[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dyntaper"]
	path = dyntaper
	url = https://github.com/ogarciav/dyntaper
[submodule "resde"]
	path = resde
	url = https://github.com/ogarciav/resde
[submodule "siplab"]
	path = siplab
	url = https://github.com/ogarciav/siplab
