[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "siplab"]
	path = siplab
	url = https://github.com/ogarciav/siplab
	shallow = true
	registered = true
[submodule "dyntaper"]
	path = dyntaper
	url = https://github.com/ogarciav/dyntaper
	shallow = true
	registered = true
